.git
.gitignore
.vscode
.mypy_cache
.pytest_cache
.venv

**/__pycache__
**/*.pyc

ai_model/saved_models
backend/smart_tire.db

frontend/.next
frontend/.expo
frontend/node_modules

logs
notebooks
dataset
smart_tire.db
*.zip
